:root {
    --ff-secondary: "Open Sans", sans-serif;
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-grey-1: hsl(209, 61%, 16%);

}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
  }

.container {
    text-align: center;
  }

  h2 {
    font-size: 40px;
  }

  span {
    font-size: 40px;
    font-weight: 600;
  }

.btn {
    font-weight: 700;
    background-color: #111827;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 30px;
    padding: .75rem 2.25rem;
    margin-top: 40px;
    cursor: pointer;
    transition-duration: .2s;
}

.btn:hover {
    background-color: #374151;
}

.btn:active {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  